# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales
venv/
env/
.env

# Archivos de sistema
.DS_Store

# Archivos temporales de la app
/mnt_iso_temp/
/mnt_usb_temp/

pycache/
*.pyc
build/
dist/
*.spec
.DS_Store
*.iso
*.img
venv/
.env
